{%extends 'admins/adminbase.html'%}

{%block contents%}
<div class="container">
    <form action="{%url 'AdminViewAllBranchBills'%}" method="post" class="form-controller">
        {%csrf_token%}
        <label>Select Branch To View Bills</label>
          <select  name="branch" class="form-control" required>
                        <option value="">--Select Branch--</option>
                        <option value="Jubilee hills">Jubilee hills</option>
                        <option value="Gachibowli">Gachibowli</option>
                        <option value="Nanakramguda">Nanakramguda</option>
                    </select>
                  <div class="input-group-append">
                  </div>
        <br/>
               <div class="d-sm-flex flex-wrap">
                <button class="button button-hero button-shadow" type="submit">Fetch Bills</button>
              </div>
<br/>
    </form>
     {% if data %}
    <h2>View all Bills from the Branch</h2>
    <table align="center" border="2">
    <tr>
        <th>S.NO</th>
        <th>Customer Name</th>
        <th>Mobile</th>
        <th>No Of Chairs</th>
        <th>Item Codes</th>
        <th>Branch</th>
        <th>Total Amount</th>
        <th>BranchUser</th>
        <th>Booking Date</th>


    </tr>
{% for x in data %}

<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ x.customername }}</td>
    <td>{{ x.mobile }}</td>
    <td>{{ x.noofchairs }}</td>
    <td>{{ x.itemcodes }}</td>
    <td>{{ x.branch }}</td>
    <td>&#x20B9;{{ x.totalamount }}</td>
    <td>{{ x.branchUser}}</td>
    <td>{{x.cdate}}</td>

    </tr>
{% endfor %}
    </table>
{% endif %}

</div>

{%endblock%}