{%extends 'base.html'%}
{%load static%}

{%block contents%}
<section class="hero-banner">
    <div class="hero-wrapper">
      <div class="hero-left">
        <h1 class="hero-title">Foods the <br> most precious things</h1>
        <div class="d-sm-flex flex-wrap">
          <p>
            Culinary business is a business opportunity that is most in-demand, E Bill Resto is a restaurant billing system that was developed by involving several selling places/restaurants with the name of a brand that is connected to the parent company by a database server. With an integrated system, all revenue from restaurant sales can be monitored in realtime.
          </p>

        </div>

       <!-- <div class="d-sm-flex flex-wrap">
          <a class="button button-hero button-shadow" href="#">Book Now</a>
          <a class="hero-banner__video" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Watch Video</a>
        </div>-->

      </div>
      <div class="hero-right">
        <div class="owl-carousel owl-theme hero-carousel">
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{%static 'img/banner/hero-banner1.png'%}" alt="">
          </div>
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{%static 'img/banner/hero-banner2.png'%}" alt="">
          </div>
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{%static 'img/home/food1.png'%}" alt="">
          </div>
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{%static 'img/banner/hero-banner2.png'%}" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

{%endblock%}